.guide_toggle_button {
    position: absolute;
    right: 0;
    top: 9%;
    width: 100px;
    height: 50px;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    border: 3px solid white;
}
.guide_toggle_button:hover {
    background-color: #fff;
    color: black;
    transition: 0.25s;
}

.guide_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 3;
}

.guide_area {
    position: absolute;
    background-color: transparent;
    border: 2px solid white;
}

.diagonal-line {
    width: 2px;
    height: 150px;
    background-color: white;
}

#line_connection {
  position: absolute;
  height: 110px;
  top: 101%;
  left: 50%;
  transform-origin: top left;
  transform: rotate(-15deg);
  z-index: 4;
}

#line_radar_status {
  position: absolute;
  height: 110px;
  top: 100%;
  left: 50%;
  transform-origin: top left;
  transform: rotate(25deg);
  z-index: 4;
}

#line_setting {
    transform-origin: top left;
    transform: rotate(45deg);
    margin-top: -400px;
    margin-right: -3px;
}

#line_radar {
    transform-origin: top left;
    transform: rotate(75deg);
    margin-top: -250px;
}

#line_video {
    transform-origin: bottom right;
    transform: rotate(75deg);
    margin-top: -400px;
    margin-right: -403px;
}

#line_record {
    transform-origin: top right;
    transform: rotate(-75deg);
    margin-top: 500px;
    margin-right: -405px;
}

.guide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: black;
    padding: 20px;
    border: 2px solid white;
    box-sizing: border-box;
    text-align: left;
    line-height: 25px;
}

#guide_connection {
    width: 425px;
    height: 175px;
    margin-top: -300px;
    margin-right: 800px;
    position: relative;
}


#guide_radar_status {
    width: 425px;
    height: 175px;
    margin-top: -315px;
    margin-right: 300px;
    position: relative;
}

#guide_setting {
    width: 425px;
    height: 175px;
    margin-top: -650px;
    margin-right: -44px;
    position: relative;
}

#guide_radar {
    width: 425px;
    height: 175px;
    margin-top: -450px;
    margin-right: 50px;
    position: relative;
}

#guide_video {
    width: 425px;
    height: 175px;
    margin-top: -200px;
    margin-right: 725px;
    position: relative;
}

#guide_record {
    width: 425px;
    height: 200px;
    margin-top: 300px;
    margin-right: 725px;
    position: relative;
}

.guide_content {
    width: 100%;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}

.guide_buttons {
    width: 380px;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    justify-content: center;
}

#guide_button_spacer {
    background-color: rgba(255, 255, 255, 0);
    border-color: #ffffff00;
}
.guide_nav_button {
    width: 70px;
    height: 45px;
}
.guide_page_count {
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 1000;
}
.guide_close_button {
    position: absolute;
    right: 20px;
}

@media (max-width: 767px) {
    .guide_toggle_button {
        position: absolute;
        top: 2.5%;
        width: 70px;
        height: 35px;
        font-family: 'Nunito Sans', 'Arial', sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 17.5px;
        border: 3px solid white;
    }
}