.manual_toggle_button {
    position: absolute;
    right: 0;
    top: 9%;
    width: 100px;
    height: 50px;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    border: 3px solid white;
}
.manual_toggle_button:hover {
    background-color: #fff;
    color: black;
    transition: 0.25s;
}

.manual_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    display: flex;
    justify-content: right;
    align-items: center;
    /* 상, 우, 하, 좌 여백만큼 투명 */
}

.diagonal-line {
    width: 2px;
    height: 150px;
    background-color: white;
}

#line_one {
    transform-origin: top left;
    transform: rotate(75deg);
    margin-top: -250px;

}

#line_two {
    transform-origin: bottom right;
    /* 기준점을 오른쪽 아래로 */
    transform: rotate(75deg);
    margin-top: -400px;
    margin-right: -403px;
}

#line_three {
    transform-origin: top right;
    /* 기준점을 오른쪽 아래로 */
    transform: rotate(-75deg);
    margin-top: 500px;
    margin-right: -405px;
}

.manual {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: black;
    padding: 20px;
    border: 2px solid white;
    box-sizing: border-box;
    text-align: left;
    line-height: 25px;
}

#manual_one {
    width: 425px;
    height: 175px;
    margin-top: -450px;
    margin-right: 50px;
    position: relative;
}

#manual_two {
    width: 425px;
    height: 175px;
    margin-top: -200px;
    margin-right: 725px;
    position: relative;
}

#manual_three {
    width: 425px;
    height: 200px;
    margin-top: 300px;
    margin-right: 725px;
    position: relative;
}

.manual_content {
    width: 100%;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}

.manual_buttons {
    width: 380px;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    justify-content: center;
}

#manual_button_spacer {
    background-color: rgba(255, 255, 255, 0);
    border-color: #ffffff00;
}
.manual_nav_button {
    width: 70px;
    height: 45px;
}
.manual_page_count {
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center; /* 가로 가운데 */
    align-items: flex-end;   /* 세로 아래 */
    font-weight: 1000;
}
.manual_close_button {
    position: absolute;
    right: 20px;
}

@media (max-width: 767px) {
    .manual_toggle_button {
        position: absolute;
        top: 2.5%;
        width: 70px;
        height: 35px;
        font-family: 'Nunito Sans', 'Arial', sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 17.5px;
        border: 3px solid white;
    }
}