


.radar {
  height: 796px;
  width: 996px;
  border: 2px solid white;
  border-right: 0;
}

.radar_title{
  line-height: 48px;
  margin: 0;
  height: 48px;
  width: 1000px;
  text-align: center;
  border-bottom: 2px solid white;
}

.radar_canvas {
  background: black;
  border-top: 0;
  /* background-image: url('../img/playground.png');
  background-repeat: no-repeat;
  background-size: auto 746px;
  background-position: center; */
}

.select_device {
  margin: 0;
  height: 30px;
  margin-left: 6px;
  display: flex;          /* flex 컨테이너로 변경 */
  align-items: center;    /* 세로 가운데 */
}
.device {
  height: 20px;
  width: 100px;
}

@media (max-width: 767px) {
  .radar {
    width: 360px;
    height: 350px;
    border: 2px solid white;
  }

  .select_device {
    margin: 0;
    margin-top: 10px;
    height: 20px;
    margin-left: 6px;
    margin-bottom: 2px;
    font-size: 10px;
  }
  .device {
    height: 20px;
    width: 100px;
  }
  
  .radar_title{
    line-height: 23px;
    margin: 0;
    height: 23px;
    width: 360px;
    text-align: center;
    border-bottom: 2px solid white;
    font-size: 13px;
    padding-bottom: 2px;
  }
}