
.radar {
  height: 796px;
  width: 996px;
  border: 2px solid white;
  border-right: 0;
}

.radar_title{
  line-height: 48px;
  margin: 0;
  height: 48px;
  width: 1000px;
  text-align: center;
  border-bottom: 2px solid white;
}

.radar_canvas {
  width: 100%;
  background: black;
  border-top: 0;
  /* background: url('../img/airstrip.JPG') no-repeat center center; */
  background-size: cover; /* 이미지 꽉 채우기 */
}

@media (max-width: 767px) {
  .radar_title{
    line-height: 23px;
    margin: 0;
    height: 23px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid white;
    font-size: 13px;
    padding-bottom: 2px;
  }
  
  .radar {
    width: 100%;
    height: auto;
    border: 2px solid white;
  }

  .radar_canvas {
    width: 100%;
    background: black;
    border-top: 0;
    margin-top: 2%;
    background: url('../img/airstrip.JPG') no-repeat center center;
    background-size: cover; /* 이미지 꽉 채우기 */
  }
  
}