@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

.record_text {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
  white-space: pre-wrap;
  height: 50px;
  border: 1px solid white;
  margin: 0; /* pre 기본 margin 제거 */
  padding: 0; /* 불필요한 padding 제거 */
}

.record_title{
  margin: 0;
  height: 50px;
  line-height: 50px;
}

.record {
  height: 300px;
  width: 800px;
  margin: 0;
}