.livqCQ {
  width: 600px;
  height: 384.38px;
  margin: 0;
}

.video_title {
  line-height: 48px;
  height: 48px;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid white;
}

.video_wrapper {
  position: relative;
  width: 600px;
  height: 332.38px;
  display: inline-block;
}

.no_signal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  pointer-events: none;
  z-index: 1; /* canvas 아래 */
}

.video {
  width: 600px;
  height: 332.38px;
  background: black;
  border-bottom: 2px solid white;
  z-index: 2; /* canvas 위로 */
}

@media (max-width: 767px) {
  .livqCQ {
    width: 100%;
    height: 229.5px;
    margin: 0;
  }

  .video_title {
    line-height: 23px;
    height: 23px;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid white;
    font-size: 13px;
    padding-bottom: 2px;
  }

  .video_wrapper {
    position: relative;
    width: 100%;
    height: 202.5px;
    display: inline-block;
  }

  .no_signal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    pointer-events: none;
    z-index: 1; /* canvas 아래 */
  }

  .video {
    width: 100%;
    height: 202.5px;
    border-bottom: 2px solid white;
  }
}